.landing {
  width: 100%;
  height: calc(100vh - 165px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/IMG-20210502-WA0010.jpg);
  background-size: cover;
  background-position: center;
}

.landing .submission {
  background-color: rgb(209, 15, 76);
  height: 22rem;
  width: 35rem;
  margin: 8rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}

.landing .submission h2 {
  font-size: 2.2rem;
  color: #fff;
}

.landing .submission p {
  font-size: 1.8rem;
}

.landing .submission a {
  cursor: pointer;
  background-color: #11111f;
  width: 10rem;
  padding: 5px 0;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.description {
  padding-top: 2.8rem;
  text-align: center;
  padding-bottom: 2.8rem;
}

.description h1 {
  font-size: 3rem;
  padding-bottom: 30px;
}

.description p {
  font-size: 2rem;
}

.stage {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #11111f;
  color: #fff;
}

.stage .box {
  margin: 0px 25px;
}

.stage img {
  width: 40%;
}

.stage aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage aside a {
  cursor: pointer;
  background-color: #d10f4c;
  padding: 5px 25px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .stage img {
    width: 100%;
    filter: brightness(0.5);
  }

  .stage aside {
    position: absolute;
  }

  .stage h2 {
    color: #fff;
  }
}

@media (max-width:480px) {
  .landing {
    height: calc(60vh - 165px);
  }

  .landing .submission {
    margin: 0;
    background-color: rgba(209, 15, 76, 0.5);
  }

  .landing .submission::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
  }

  .landing .submission h2 {
    font-size: 1.6rem;
  }

  .landing .submission p {
    color: #fff;
    font-size: 1.2rem;
  }

  .description h1 {
    font-size: 2rem;
  }
  
  .description p {
    font-size: 1.4rem;
  }
}