main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main h2 {
  padding-top: 25px;
}

.subSection {
  width: 100%;
}

.subSection form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subSection form input {
  margin: 15px 0;
  padding: 5px 15px;
  width: 18rem;
  border-radius: 5px;
  border: 1px solid black;
}

.subSection form input:focus  {
  outline: #d10f4c solid 2px;
  border: none;
  transition: 70ms;
}

.subSection form input[type="submit"] {
  background-color: #d10f4c;
  color: #fff;
  width: 8rem;
  padding: 5px 0;
}

@media (max-width: 768px) {
  main h2 {
    padding: 0 25px;
  }
}

@media (max-width: 480px) {
  .subSection form {
    background-color: rgb(237, 237, 237);
  }

  .subSection form label {
    font-size: 1.2rem;
  }


  .subSection form input {
    width: 95%;
  }
}