main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main h2 {
  padding-top: 25px;
}

.subSection {
  width: 100%;
}

.subSection form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subSection form input {
  outline: none;
  margin: 15px 0;
}

.subSection form input[type="submit"] {
  background-color: #d10f4c;
  color: #fff;
  width: 8rem;
  padding: 5px 0;
}

@media (max-width: 768px) {
  main h2 {
    padding: 0 25px;
  }
}